node_modules
vendor
public/build
.env
.env.*
.git
.gitignore

# Ignore local logs and cache
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
